<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>This is main Title</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo repellat dolorem ad molestias repellendus voluptates obcaecati ratione quia, veniam amet laboriosam. Tempore dolores quae nobis, quibusdam adipisci impedit molestias molestiae.</p>
</body>
</html>